.component-1 {
  height: 318px;
  width: 201px;
  background-color: #ffffff;
}
.rectangle-1 {
  height: 318px;
  width: 201px;
  background-color: #d9d9d9;
}
.rectangle-2 {
  height: 160px;
  width: 120px;
  background-color: #f73e3e;
}
.rectangle-3 {
  height: 60px;
  width: 120px;
  background-color: #20bdf6;
}